/* .featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}
.featured img {
  width: 65px;
  height: 65px;
  margin: auto;
} */


.content1{
  /* background-color: brown; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 300px; /* Set a fixed width for the grid container */
  margin: 0 auto; 
}

.grid-item{
  padding: 20px;
  text-align: center;
}