.content2{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  width: 100%; 
  margin: 5px ;
}

.inner{
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  background-color: #506cd1;
  border: 1px solid black;
}

.about {
  margin-bottom: 80px;
}

.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .content2 {
    grid-template-columns: 1fr;
  }
  .about .container {
    flex-direction: column;
  }

  .about p {
    padding: 0;
  }

  .about .container img {
    margin-top: 50px;
  }
}

form {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0 20px;
}

form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}

form span {
  font-size: 14px;
  color: grey;
}

input::placeholder {
  font-size: 17px;
  color: black;
}

form .box {
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}

form .box:nth-child(1) {
  border-left: none;
}

form h4 {
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  form .box {
    border-left: none;
  }

  form input {
    width: 100%;
  }
}